.descriptionTitle {
    font-size: 75px;
    color: rgb(251, 223, 14);
    text-shadow: 2px 2px 4px rgb(16, 123, 253);
}

.descriptionText {
    font-weight: 500;
    font-size: 30px;
    color: rgb(254, 224, 0);
    text-shadow: 8px 6px 8px rgb(0, 1, 2);
}