.descriptionTitle {
    font-size: 75px;
    color: rgb(251, 223, 14);
    text-shadow: 2px 2px 4px rgb(16, 123, 253);
}

.descriptionText {
    font-size: 30px;
    color: rgb(16, 123, 253);
    text-shadow: 2px 2px 4px rgb(251, 223, 14);
}